
*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
h1{
    font-weight: 500;
    font-size: 35px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif; 
}
body{
    position: relative;
}
::selection{
    color:#3d3d3d;
    background:#fff2d4;
}

/* .header_inner{
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    top: 40px;
} */
/* .header_nav{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 200px;     
    width: 830px;
    height: 130px;
} */
.nav_open{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color:#D74C38;
    left: 0;
    /* padding: 2rem; */
}
.nav_open .nav_link{
    display: flex;
}
.nav_open .nav_link a{
    padding:  20px;
    color: #D9042B;
    width: 100%;
    border-bottom:1.5px dotted #C2A16C;
    text-decoration: none;
}
.nav_open .nav_link .nav_items{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #3d3d3d;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif; 
    margin-left: .5rem;
}
.nav_open .nav_link .nav_items_en{
    display: inline-block;
    color: #C2A16C;
    font-family: "Hammersmith One","Noto Sans Japanese",sans-serif;
    font-size: 12px;
    margin-left: .5rem;
}
.nav_inner{
    position: absolute;
    right: 0;
    left: 0;
    width: 70vw;
    /* height: 100vh; */
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    padding:  4rem 3rem;
    overflow: auto;

}
.mobile_menu {
    position: absolute;
    width: 85px;
    height: 85px;
    cursor: pointer;
    z-index: 3;
    background-color: #fff;
    border-radius: 0 0 0 50px;
    top: 0;
    right: 0;
    box-shadow: 0 0 15px rgb(166, 166, 166, .3);
    position: fixed;
  }
  .mobile_menu_line,
  .mobile_menu::before,
  .mobile_menu::after{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color:#C2A16C;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Hammersmith One","Noto Sans Japanese",sans-serif;
    font-size: 14px;
    color: #3d3d3d;
    top: 48%;
  }

/* 漢堡選單上面橫槓 */
.mobile_menu::before {
content: '';
top: 22%;
transition: top .5s .5s, rotate .5s;
}
/* 漢堡選單中間橫槓 */
.mobile_menu_line {
top: 30%;
}
/* 漢堡選單下面橫槓 */
.mobile_menu::after {
content: '';
top: 38%;
transition: top .5s .5s, rotate .5s;
}
.slogan{
    position: relative;
    line-height: 55px;
    top: 240px;
    display: flex;
    justify-content: center;
    margin:auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;         
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgb(49, 41, 36, 0.4);
}
.header {
    position: relative;
    background-image: url('pic/header_banner.png');
    background-size: cover;
    background-position:center;
    height: 90vh;
}
.header_inner{   
    display: none;
}
.search_inner{
    display: none;
}

/* 平板 */
@media screen and (min-width: 768px){

}
/* 平板 */
@media screen and (min-width: 1024px){

}
/* 桌機 */
@media screen and (min-width: 1200px){
    .nav_open{
        display: none;
    }
    
    .header_logo img{
        width: 120px;  
    }
   
    .header_inner{
        position: relative;
        width: 1200px;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        top: 40px;
    }
    .header_nav{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 200px;     
    width: 830px;
    height: 130px;
    }
    .mobile-menu{
        display: none;
    }
    .search_wrap{
        top: 25px;
        width: 1200px;
        margin: auto;
        position: relative;       
    }
    .search_inner{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }
    .search_btn{
        display: flex;
        margin-right: 10px;
    }
    .search_bar{
        outline: none;
        border: 0px;
        padding: 0 40px; /* 改變滑鼠點擊時黑線條出現的位置 */
        font-size: 14px;
        border-radius: 50px; 
        height: 25px;
    }
    .search i{
        position: relative;
        left: 30px;
        color: #AEAEAE;
        font-size: 14px;
        line-height: 25px;
    }
    .shopping_cart i{
        color: #3d3d3d;
        font-size: 25px;
    }
    .nav_link{    
        letter-spacing: 1px;
        font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;        
    }
    .nav_link li{
        transition: .2s;
    }
    .nav_link:hover li{
        color: #D9042B;
    }
    .nav_items_en{
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        font-family: "Hammersmith One","Noto Sans Japanese",sans-serif;
        font-weight: normal;
        color: #C2A16C;
    }
    .nav_items{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 0 33px 10px;
        color: #3d3d3d;
    }
    .nav_link li{
        transition: .2s;
    }
    .nav_link:hover li{
        color: #D9042B;
    }
    .nav_link a{
        text-decoration: none;      
    }
    .contact_icon{
        display: flex;
    }
    .email i{
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 15px 15px 15px 0; 
        font-size: 35px;
        padding: 20px;
        background-color: #fff;
        border-radius: 50%;
        color: #C2A16C ;
    }
    .email i:hover{
        animation:rotate .5s cubic-bezier(0.2, 0.9, 0.3, 1.0);
        /*縮寫：動畫名稱 動畫秒數 移動速率分布(貝茲) 播放狀態*/
      }
      @keyframes rotate{
        0%{
          transform:rotate(0deg);
          }
        100%{
          transform: rotate(360deg);
          }
        }
      
    .fbig{
        margin-top: 8px;
    }
    .fb i{
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        margin: 6px 0;
        font-size: 20px;
        padding: 10px;
        background-color: #485DA1;
        border-radius: 50%;
        color: #ffffff ;
    }
    .fb i:hover{
        animation:rotate .5s cubic-bezier(0.2, 0.9, 0.3, 1.0);
        /*縮寫：動畫名稱 動畫秒數 移動速率分布(貝茲) 播放狀態*/
      }
      @keyframes rotate{
        0%{
          transform:rotate(0deg);
          }
        100%{
          transform: rotate(360deg);
          }
        }
      
    .ig i{
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        margin: 6px 0;
        font-size: 20px;
        padding: 10px;
        background-color: #D74C38;
        border-radius: 50%;
        color: #ffffff ;
    }
    .ig i:hover{
        animation:rotate .5s cubic-bezier(0.2, 0.9, 0.3, 1.0);
        /*縮寫：動畫名稱 動畫秒數 移動速率分布(貝茲) 播放狀態*/
      }
      @keyframes rotate{
        0%{
          transform:rotate(0deg);
          }
        100%{
          transform: rotate(360deg);
          }
        }
}
/* 手機版 */

/* .header-md{
    height: 80vh;
    width: 100vw;
}
.header-lg{
    height: 100vh;
    width: 100vw;
}
.header-xl{
    height: 95vh;
    width: 100vw;
} */

.wave img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.gotop_btn img{
    width: 90px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;    
}
.eggshape{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 50px;
}
.eggshape .title, .free_range_eggs .title {
    writing-mode: vertical-lr;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;           
    letter-spacing: 10px;
    font-size: 35px;
    line-height: 70px;
    margin-top: 50px;
    margin-left: 50px;
}
.eggshape .title .en{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #C2A16C;
}
.eggshape .title .love{
    color: #D9042B;
}
.eggshape .title .guard{
    color: #C2A16C;
}
.eggshape .pic img{
    max-width: 85%;
    max-height:85%;
}
.family{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.family .txt .nature{
    color: #C2A16C;
}
.family .txt h1{
    letter-spacing: 5px;
    margin: 50px 50px 50px 100px;
}
.family .txt p{
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 2px;
    font-family: "Noto Sans Japanese",sans-serif; 
    margin: 0 150px 0 100px;
    margin-top: 60px;
}
.family .pic img{
    width: 450px;
    height: auto;
}
.wave_yellow{
    position: relative;
    background-image: url('pic/wave_yellow.svg');
    background-size: cover;
    height: 1300px;
    margin-top: 300px;       
}
.free_range_eggs{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.free_range_eggs .title{
    position: relative;
    top: -250px;
    margin-right: 200px;
}
.free_range_eggs .title .eggs{
    color: #D9042B;
}
.free_range_eggs .pic .hen{
    position: relative;
    width: 700px;
    height: auto;
    top: -200px;
}
.free_range_eggs .pic .chick{
    position: relative;
    top: -250px;
    right: -650px;
    width: 400px;
    height: auto;
}
.free_range_eggs .pic .eggs{
    position: relative;
    width: 650px;
    bottom: 180px;
    right: -550px;
}
.wave_yellow .paragraph{        
    width: 1200px;
    margin: auto;
    justify-content: center;
}
.wave_yellow .paragraph .txt{
    position: absolute;
    top: 400px;
    width: 450px;
    font-family: "Noto Sans Japanese",sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 2px;
}
.wave_yellow .txt p{
    padding: 15px 0;
}
.wave_yellow .pic .dialog{
    position: absolute;
    width: 230px;
    bottom: -10px;
    margin-left: 350px;
}
.eggseries_carousel{
    margin: 80px 0;
}
.eggseries_carousel .title{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
}
.eggseries_carousel .title img{
    margin-left: 50px;
}
.eggseries_carousel .title h1{
    color: #C2A16C;
    font-family: "Hammersmith One","Noto Sans Japanese",sans-serif;
    letter-spacing: 5px;
}
.eggseries_cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden; /* 隱藏超出螢幕寬度的範圍 */
}
.prd_card{
    margin: 45px 45px 0;
}
.prd_card .pic{
    position: relative;
    width: 270px; 
    height: 270px;
    border-radius: 50%;
    margin-bottom: 15px;
    overflow: hidden; /* 隱藏超出圓形的範圍 */
}
.prd_card .pic img{
    position: absolute;
    top: 50%;  /* 元素在父層中水平垂直居中 */   
    left: 50%;
    transform: translate(-50%, -50%); /* 再對圓形遮罩水平垂直居中 */
    max-width: 135%;
    max-height: 135%;
}
.prdwrap{
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.prdwrap .txt .prd{
    display: flex;
    margin-bottom: 6px;
}
.prdwrap .txt .prd h2,
.prd span{
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;  
    color: #D9042B;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
}
.prdwrap .txt .prd span{
    font-size: 12px;
    margin-top: 4px;
}
.prd_card .prdwrap .txt .assortment{
    font-size: 12px;
    font-weight: 600;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;   
    letter-spacing: 2px;
}
.button .click_more i{
    font-size: 40px;
    color: #D74C38;
}
.carousel_wrap{
    height: 530px;
    overflow: hidden;
    display: flex;
}
.carousel_wrap .pic_carousel_first{
    display: flex; 
    animation: scroll 40s linear infinite;
}
.carousel_wrap .pic_carousel_second{
    display: flex;
    animation: scroll2 40s linear infinite;
    animation-delay: -20s;
}
.carousel_wrap .pic img{
    margin: 0 10px;
    width: 500px;
    border-radius: 10px;
}
@keyframes scroll{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes scroll2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-200%);
    }
}
.footer{
    position: absolute;
    background-image: url('pic/footer_bg.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    bottom: -460px;
}
.footer::before{
    content: '';
    background-image: url(pic/footer_hen.svg);
    position: absolute;
    width: 570px;
    height: 570px;
    background-size: cover;
    z-index: 2;
    bottom: 0px;
    right: 0px;
}
.footer_inner{
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 120px;
}
.footer_logo{
    margin-right: 60px;
    width: 155px;
}
.footer_info .footer_nav{
    display: flex;
    margin: 35px 35px 0 0;
}
.footer_info .link_btn{
    display: flex;
}
.footer_info .link_btn a{
    font-size: 18px;
    color: #D9042B;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
    font-weight: 500; 
    letter-spacing: 2px;
}
.footer_info .link_btn i{
    font-size: 18px;
    color:#D9042B;
    margin-right: 5px;
}
.map_link{
    margin: 0 25px;
}
.footer_nav .nav_link:hover li{
    color: #D9042B;
}
.footer_nav .nav_link .nav_items{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 30px;
    color: #865A32;
}
.footer_inner .fbig{
    display: flex;
    position: absolute;
    display: flex;
    right: 330px;
    top: 30px;
}
.footer_inner .fb i{
    margin: 6px;
}
.footer_inner .ig i{
    margin: 6px;
}
.copyright{
    width: 1200px;
    font-size: 12px;
    font-family: "Noto Sans Japanese",sans-serif;
    letter-spacing: 1.5px;
    margin: auto;
    margin-top: 50px;
}
.copyright p{
    color: #865A32;
    line-height: 25px;
}


