
*{
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    /* outline: 1px solid red; */
}
h1{
    font-weight: 500;
    font-size: 35px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif; 
}
body{
    position: relative;
}
::selection{
    color:#3d3d3d;
    background:#fff2d4;
}
.search_wrap{
    top: 25px;
    width: 1200px;
    margin: auto;
    position: relative;
    
}
.search_inner{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.search_btn{
    display: flex;
    margin-right: 10px;
}
.search_bar{
    outline: none;
    border: 0px;
    padding: 0 40px; /* 改變滑鼠點擊時黑線條出現的位置 */
    font-size: 14px;
    border-radius: 50px; 
    height: 25px;
}
.search i{
    position: relative;
    left: 30px;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 25px;
}
.shopping_cart{
    font-size: 25px;
}
.header_inner{
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    top: 40px;
}
.header_logo img{
    width: 120px;  
}
.header_nav{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 200px;     
    width: 830px;
    height: 130px;
} 
.header {
    position: relative;
    background-image: url('pic/header_banner.jpg');
    background-size: cover;
    height: 850px;
    background-position: 0,-30px;
}
.nav_link{    
    letter-spacing: 1px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;        
}
.nav_items_en{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-family: "Hammersmith One","Noto Sans Japanese",sans-serif;
    font-weight: normal;
}
.nav_items{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0 33px 10px;
}
.nav_link a{
    text-decoration: none;      
}
.nav_items_en a{
    color: #C2A16C;
}
.contact_icon{
    display: flex;
}
.email i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 15px 15px 15px 0; 
    font-size: 35px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    color: #C2A16C ;
}
.fbig{
    margin-top: 8px;
}
.fb i{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 6px 0;
    font-size: 20px;
    padding: 10px;
    background-color: #485DA1;
    border-radius: 50%;
    color: #ffffff ;
}
.ig i{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 6px 0;
    font-size: 20px;
    padding: 10px;
    background-color: #D74C38;
    border-radius: 50%;
    color: #ffffff ;
}
.wave img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.gotop_btn img{
    width: 90px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;    
}
.slogan{
    display: flex;
    justify-content: center;
    margin-top: 240px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;         
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgb(49, 41, 36, 0.4);
}
.no1_egg{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-top: 70px;
}
.no1_egg .title{
    writing-mode: vertical-rl;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;           
    letter-spacing: 10px;
    line-height: 70px;
    margin-top: 50px;
    margin-right: 70px;
}
.no1_egg .title .love{
    color: #D9042B;
}
.no1_egg .title .heart{
    color: #C2A16C;
}
.no1_egg .pic img{
    width: 800px;
}
.location{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 110px;
}
.location .bigger_pic .source_of_water{
    width: 650px;
    height: 500px;
    margin-right: 40px;
}
.location .smaller_pic .outdoor{
    height: 230px;
    margin: 0 0 20px 0;
}
.location .smaller_pic .nature{
    height: 230px;
    margin: 20px 0 0 0;
}
.location .en{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-right: 80px;
    color: #C2A16C;
    writing-mode: vertical-lr;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
}
.paragraph{
    position: relative;
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: flex-end;
    margin-top: 130px;
}
.paragraph .txt{
    position: relative;
    width: 500px;
    font-family: "Noto Sans Japanese",sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 2px;
    right: -70px;
    top: 50px;
    z-index: 1;
}
.paragraph .txt p{
    padding: 15px 0;
}
.paragraph .pic .owner{
    position: relative;
    width: 750px;
}
.paragraph .txt::before{
    content: '';
    background-image: url(pic/hen_sing.svg);
    position: absolute;
    background-size: cover;
    width: 240px;
    height: 240px;
    z-index: 5;
    bottom: 80px;
}
.green_wave{
    position: relative;
    background-image: url(pic/green_wave.svg);
    background-size:cover;
    height: 2500px;
    top: -40px;
}
.flowchart_wrap{
    position: relative;
    top: 150px;
    width: 1200px;
    margin: auto;
    background-color: #fff;
    border: 5px solid #FFC93D;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 90px 0 90px;
}
.footprint{
    position: absolute;
    right: 50px;
    top: -20px;
}
.footprint2{
    position: absolute;
    left: 60px;
    bottom: 830px;
}
.footprint3{
    position: absolute;
    right: -20px;
    bottom: 900px;
}
.flowchart{
    width: 1000px;
    display: flex;
    margin: 0 auto 40px;
    justify-content: space-between;
}
.flowchart li{
    position: relative;
    width: 270px;
    text-align: center;
}
.flowchart strong{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color:#D74C38;
    letter-spacing: 4px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
}
.flowchart strong::before{
    content: '';
    position: absolute;
    left: -25px;
    top: 15px;
    width: 20px;
    border-bottom: 2px solid #D74C38;
    transform: rotate(60deg);
}
.flowchart strong::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 15px;
    width: 20px;
    border-bottom: 2px solid #D74C38;
    transform: rotate(-60deg);
}
.flowchart figure .logo{
    width: 155px;
    margin: 30px;
    /* 繼承到父層的text-align使logo對齊 */
}
.flowchart .color{
    display: inline-block;
    background-color: #FFECB5;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 5px 0;
}
.flowchart .color h2{
    font-weight: 400;
    color:#D74C38;
    letter-spacing: 2px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
}
.flowchart p{
    font-family: "Noto Sans Japanese",sans-serif;  
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 27px;
    text-align: left;
    margin-top: 20px;
    text-align: justify;
}
.flowchart .size{
    font-family: "Noto Sans Japanese",sans-serif;  
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}
.flowchart .step{
    position: relative;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
}
.flowchart li::before{
    position: absolute;
    content:'';
    background-image: url(pic/comb.svg);
    width: 105px;
    height: 90px;
    top: 0;
}
.flowchart li::after{
    position: absolute;
    content:'';
    background-image: url(pic/arrow.svg);
    width: 65px;
    height: 22px;
    right: -80px;
    top: 140px;
}
.flowchart .no_comb::before{
    display: none;
}
.flowchart .no_arrow::after{
    display: none;
}
.flowchart .step img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 155%;
    max-height: 155%;
}
.flowchart .step .chick{
    transform: translate(-40%, -50%); 
}
.store_button{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 200px 0 0 0;
    z-index: 1;
}
.store_button span{
    display: flex;
    background-color:#FFC93D;
    border-radius: 50px;
    padding: 20px 380px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
}
.store_button i{
    font-size: 24px;
    line-height: 24px;
    margin-left: 8px;
}
.flowchart_wrap .dialog{
    position: absolute;
    bottom: 50px;
    left: 130px;
    width: 160px;
}
.footer{
    position: absolute;
    background-image: url('pic/footer_bg.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    bottom: -390px;
}
.footer::before{
    content: '';
    background-image: url(pic/footer_hen.svg);
    position: absolute;
    width: 570px;
    height: 570px;
    background-size: cover;
    z-index: 2;
    bottom: 0px;
    right: 0px;
}
.footer_inner{
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 120px;
}
.footer_logo{
    margin-right: 60px;
    width: 155px;
}
.footer_info .footer_nav{
    display: flex;
    margin: 35px 35px 0 0;
}
.footer_info .footer_nav .nav_link .nav_items a{
    color: #865A32;
}
.footer_info .link_btn{
    display: flex;
}
.footer_info .link_btn a{
    font-size: 18px;
    color: #D9042B;
    font-family: "Zen Maru Gothic","Noto Sans Japanese",sans-serif;
    font-weight: 500; 
    letter-spacing: 2px;
}
.footer_info .link_btn i{
    font-size: 18px;
    color:#D9042B;
    margin-right: 5px;
}
.map_link{
    margin: 0 25px;
}
.footer_nav .nav_link .nav_items{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 30px;
}
.footer_inner .fbig{
    display: flex;
    position: absolute;
    display: flex;
    right: 330px;
    top: 30px;
}
.footer_inner .fb i{
    margin: 6px;
}
.footer_inner .ig i{
    margin: 6px;
}
.copyright{
    width: 1200px;
    font-size: 12px;
    font-family: "Noto Sans Japanese",sans-serif;
    letter-spacing: 1.5px;
    margin: auto;
    margin-top: 50px;
}
.copyright p{
    color: #865A32;
    line-height: 25px;
}
